<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.brayanasdrubal.appalice">

    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/icon_app"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity" />
        <activity android:name=".Splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".cuenta" />
        <activity android:name=".info_cuidador" />
        <activity android:name=".Juegos" />
        <activity android:name=".Memorias" />
        <activity android:name=".Evaluate" />
        <activity
            android:name="com.keyes.youtube.OpenYouTubePlayerActivity"
            android:configChanges="fontScale"
            android:label="@string/app_name"
            android:screenOrientation="fullSensor"></activity>
        <activity android:name=".video"
            android:theme="@style/Base.Theme.AppCompat.Dialog"></activity>
    </application>

</manifest>
